/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html,
body {
  height: 100%;
  color: white;
  background-color: rgb(48, 48, 48);
  overflow-y:hidden;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-display: auto;
  font-size:18px;
}
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #c2185b; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}